.Password {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #3c3d55;
}

.password-main {
  display: flex;
  width: 70%;
  margin: 15px;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
  }

  &__icon {
    width: 45px;
    height: 45px;
  }

  &__icon-border {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c2d41;
    border-radius: 50%;
    margin: 20px;
  }

  &__description {
    color: aliceblue;
    margin-left: 40px;
  }

  &__description-block-title {
    margin-bottom: 20px;
  }

}

.password-sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 200px;
  padding: 15px;
  border-left: 1px solid;

  &__input {
    margin-bottom: 15px;
    background: #3c3d55;
    border-left: 2px solid #adb5bd;
    border-top: 2px solid #adb5bd;
    border-right: 2px solid #adb5bd;
    outline: none;
  }

  &__input[type=text] {
    color: #adb5bd;
  }

  &__input:hover {
    background: #adb5bd;
    color: black;
  }
}
